
    .technologies-section h3 {
        color: #fff;
        margin-bottom: 40px;
    }

    .tech-card {
        background: transparent;
        border-radius: 12px;
        padding: 10px;
        text-align: center;
        cursor: default;
        transition: transform 0.3s ease;
    }

    .tech-card:hover {
        transform: translateY(-10px);
    }

    .tech-card img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-bottom: 15px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .tech-card h5 {
        font-weight: 700;
        margin-bottom: 0;
        color: #fff;
    }

    .tech-card {
        animation: slowZoom 4s ease-in-out infinite;
    }

    @keyframes slowZoom {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }
    }


    /* Reducir tamaño en móvil */
    @media (max-width: 576px) {
        .tech-card img {
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
        }

        .tech-card {
            padding: 5px;
        }
    }