<div class="container">

  <!-- Fila para md+ -->
  <div class="row align-items-center mx-5 px-5 my-4 d-none d-md-flex">
    <div class="col-md-8">
      <h1>Marc Toledano Garcia</h1>
      <p>Desarrollador web con pasión por crear sitios modernos, funcionales y responsive. Me gusta cuidar cada detalle,
        escribir código limpio y ofrecer soluciones prácticas con tecnologías como HTML, CSS, JavaScript, PHP, con
        frameworks como Angular o Laravel.</p>

      <ul class="list-unstyled mt-3">
        <li><i class="bi bi-telephone-fill me-2"></i>+34 600 000 000</li>
        <li><i class="bi bi-envelope-fill me-2"></i>marc.toledano.com</li>
        <li><i class="bi bi-calendar-event-fill me-2"></i>02/08/2005</li>
        <li><i class="bi bi-linkedin me-2"></i><a href="https://www.linkedin.com/in/marc-toledano"
            target="_blank">linkedin.com/in/marc-toledano</a></li>
      </ul>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <img id="my-photo"
        src="https://pm1.aminoapps.com/7207/190f11f84655c7967462be3078e18b8bb78fc9c6r1-346-454v2_00.jpg"
        alt="Foto de Marc" class="img-fluid rounded" style="max-width: 250px;">
    </div>
  </div>

  <!-- Fila para xs y sm -->
  <div class="row align-items-center mx-3 px-3 my-3 d-flex d-md-none">
    <div class="col-12">
      <h1>Marc Toledano Garcia</h1>
      <p>Desarrollador web con pasión por crear sitios modernos, funcionales y responsive. Me gusta cuidar cada detalle,
        escribir código limpio y ofrecer soluciones prácticas con tecnologías como HTML, CSS, JavaScript, PHP, con
        frameworks como Angular o Laravel.</p>

      <ul class="list-unstyled mt-3">
        <li><i class="bi bi-telephone-fill me-2"></i>+34 600 000 000</li>
        <li><i class="bi bi-envelope-fill me-2"></i>marc.toledano.com</li>
        <li><i class="bi bi-calendar-event-fill me-2"></i>02/08/2005</li>
        <li><i class="bi bi-linkedin me-2"></i><a href="https://www.linkedin.com/in/marc-toledano"
            target="_blank">linkedin.com/in/marc-toledano</a></li>
      </ul>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <img id="my-photo"
        src="https://pm1.aminoapps.com/7207/190f11f84655c7967462be3078e18b8bb78fc9c6r1-346-454v2_00.jpg"
        alt="Foto de Marc" class="img-fluid rounded" style="max-width: 200px;">
    </div>
  </div>

</div>
