


<div class="container pt-5 mt-md-5 mb-md-5">
  <div class="row">
    <div class="col-md-10 mx-md-5 px-md-5">
      
      <h3 class="fw-bolder mx-4">PROYECTOS</h3>
      
      <div class="project-highlight mx-4 mt-4">
        <img src="img/captura-boostrap.png" alt="Captura Bootstrap" class="project-img" />
        <div class="project-body">
          <h4 class="project-title">Conversión de plantilla WordPress a Bootstrap</h4>
          <p class="project-desc">
            Proyecto de conversión de una plantilla WordPress a un diseño responsive personalizado con Bootstrap. Se replicó la estructura original, mejorando velocidad y experiencia móvil sin depender de WordPress.
          </p>
<div class="project-tech-icons">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5" title="HTML5" />
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3" title="CSS3" />
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" title="JavaScript" />
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap" title="Bootstrap" />
</div>
          <div class="project-buttons">
            <a href="#" class="btn btn-outline-light" target="_blank" rel="noopener noreferrer"><img id='githubProjects' class="small-icon" src="https://www.svgrepo.com/show/447165/github-outline.svg" alt=""></a>
            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Ver demo</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
