<div class="container pt-5 mt-md-5 mb-md-5">
  <div class="row">
    <div class="col-md-10 mx-md-5 px-md-5">
      <h3 class="fw-bolder mx-4">EDUCACIÓN</h3>
      <ul class="timeline">
        <li>
          <a href="#" class="text-decoration-none">CFGS Desarrollo de Aplicaciones Web – Institut Provençana</a>
          <a href="#" class="badge bg-primary float-end text-decoration-none">09/2023 - 06/2025</a>
          <p class="mt-2">
Ciclo formativo finalizado donde adquirí experiencia práctica en el desarrollo completo de aplicaciones web, desde el diseño del frontend hasta la lógica del backend y la gestión de bases de datos. Se trabajaron proyectos reales aplicando tecnologías como HTML, CSS, JavaScript, PHP, MySQL, Angular y Laravel, siguiendo buenas prácticas de programación y control de versiones con Git.          </p>
        </li>
        <li>
          <a href="#" class="text-decoration-none">Bachillerato</a>
          <a href="#" class="badge bg-primary float-end text-decoration-none">09/2021 - 06/2023</a>
          <p class="mt-2">
Estudios de Bachillerato finalizados en la modalidad de Ciencias Sociales, donde desarrollé habilidades analíticas, de redacción y organización, además de adquirir una base sólida en materias como economía, matemáticas aplicadas y filosofía.          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
