/* You can add global styles to this file, and also import other style files */
body {
    background-color: #121212;
    ;
    font-family: 'JetBrains Mono';
    color: white;
}

body,
img {
    cursor: url('https://cdn-icons-png.flaticon.com/32/11228/11228962.png'), auto !important;
}

a,
button {
    cursor: url("https://cdn-icons-png.flaticon.com/32/1527/1527728.png"), auto !important;
}

.no-click {
  pointer-events: none;
}



.project-highlight, .tech-card {
    cursor: url('https://cdn-icons-png.flaticon.com/32/11228/11228962.png'), auto !important;
}

.project-highlight {
    animation: float 3s ease-in-out infinite;
}

#my-photo {
    width: 200px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

model-viewer {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  aspect-ratio: 4 / 3;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Quitar margen/padding extra que agrega el visor interno */
.userInput,
.slot.canvas {
  margin: 0 !important;
  padding: 0 !important;
}
