<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container pt-5 mt-md-5 mb-md-5">
    <div class="row">
        <div class="col-md-10 mx-md-5 px-md-5">
            <h3 class="fw-bolder mx-4">EXPERIENCIA</h3>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="" class="text-decoration-none">GLS SPAIN (Servex k10 Logistics)</a>
                    <a href="#" class="badge bg-primary float-end text-decoration-none">
                        02/06/25 - Actualidad</a>
                    <p class="mt-2 ">
                        · Desarrollo y mantenimiento de estructuras web con PHP, asegurando un sistema estable,
                        escalable y eficiente.<br>
                        · Participación activa en la implementación de nuevas funcionalidades, corrección de errores y
                        mejora continua del código.<br>
                        · Colaboración en la planificación y diseño de la base de datos para lograr una estructura bien
                        organizada y optimizada.
                    </p>
                </li>

            </ul>
        </div>
    </div>
</div>